body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
}

body > * {
    margin: 0;
}

.heading {
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.title {
    font-size: 3.5vw;
    font-family: 'Share Tech Mono', monospace;
    display: inline;
    padding-right: 2vw;
}

.ballImg{
    display: inline-block;
}

